{% extends 'base.html' %}
{% block title %} Create Professor {% endblock %}
{% block content %}
    <form method="post">


        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
        <a class="btn btn-sm btn-secondary" href="{% url 'create-list-of-professors' %}">Cancel</a>
    </form>

{% endblock %}