{% extends 'base.html' %}
{% block title %}List of Professors{% endblock %}
{% block content %}
<a class="btn btn-s btn-primary" href="{% url 'create-professor' %}">Add professor</a>
    <table class="table table-hover table-bordered table-striped">
    <thead>
    <tr>
        <th>
            Full_name
        </th>
        <th>
            Age
        </th>
        <th>
            Subject
        </th>
                <th>
            Actions
        </th>

    </tr>
    </thead>
    <tbody>
    {% for professor in all_professors %}
    <tr>
    <td>
        {{ professor.first_name }} {{ professor.last_name }}
    </td>
    <td>
        {{professor.age }}
    </td>
    <td>
        {{ professor.subject}}
    </td>
    <td><a class="btn btn-sm btn-primary" href="{% url 'update_professor' professor.id %}">Update</a> </td>

    </tr>

    {% endfor %}
    </tbody>
    </table>


{% endblock %}