{% extends 'base.html' %}
{% block title %} Create Student {% endblock %}
{% block content %}
    <form method="post">
{#    TAgul pentru salvarea datelor in DB#}
    {% csrf_token %}
{#        Se da formularul generat automat cu fieldurile in views#}
{#        comanda form.as_p afisaza partea de front end sub forma de paragrafe#}
    {{ form.as_p }}
    <button type="submit" class="btn btn-sm btn-primary">Save</button>
    <a class="btn btn-sm btn-secondary" href="{% url 'create-list-of-students' %}">Cancel</a>

    </form>


{% endblock %}