{% extends 'base.html' %}
{% block title %} Delete Student{% endblock %}

{% block content %}
{#    student face referire automata la obiectul de tip Student #}
<p> Are you sure you want to delete student: {{ student.first_name }} {{ student.last_name }} ?</p>
    <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-sm btn-success">Yes</button>
    <button type="button" class="btn btn-sm btn-danger" onclick="location.href={% url 'create-list-of-students' %}">No</button>
{#    <a class="btn btn-sm btn-primary" href="{% url 'create-list-of-students' student.id %}">No</a>#}

    </form>

{% endblock %}