{% extends 'base.html' %}
{% block title %}Detail Student{% endblock %}
{% block content %}
    <div class="card" style="top: 50px;">
        <div class="card-header">
            {{ students.first_name }} {{ students.last_name }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ students.description }}</h5>
            <p class="card-text">{{ students.age }} {{ students.date_of_birth }}</p>
            <a href="{% url 'create-list-of-students' %}" class="btn btn-success">Go to Student List</a>
        </div>
    </div>


{% endblock %}