
{% extends 'base.html' %}

{% block title %} List of Students {% endblock %}

{% block content %}
{#    Pentru a verifica grupul userului autentificat Metoda 1#}
    <h3>{{ request.user.groups.get.name }}</h3>
    {% if request.user.groups.get.name == 'Manager' %}
        <p>Hello Mr. !</p>
    {% endif %}
    {#    Pentru a verifica grupul userului autentificat Metoda 2#}
{#    {% for group in request.user.groups.all %}#}
{#        <p>{{ group.name }}</p>#}
{#    {% endfor %}#}

{#Comanda pentru a verifica daca am grupul#}
{#    <h3>{{ request.user.groups.all }}</h3>#}
    {#    btn-> clasa buton, btn-sm -> clasa button small, btn-primary -> este buto albastru#}
    {% if perms.student.add_student %}
        <a class="btn btn-sm btn-primary" href="{% url 'create-student' %}">Add student</a>

    {% endif %}
        <a class="btn btn-sm btn-success" href="{% url 'generate_pdf' %}">Create pdf</a>
    <table class="table table-hover table-bordered table-dark table-striped">
        <thead>
        <tr>
            <th>
                Full_name
            </th>
            <th>
                Professor
            </th>
            <th>
                Subject
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% for student in all_students %}
            <tr>
                {#        td este table data#}
                <td>
                    {{ student.first_name }} {{ student.last_name }}
                </td>
                <td>
                    {{ student.professor }}
                </td>
                <td>{{ student.professor.subject }}</td>
                <td>

                    {% if perms.student.change_student %}
                        <a class="btn btn-sm btn-primary" href="{% url 'update_student' student.id %}">Update</a>
                    {% endif %}
                    {% if perms.student.delete_student %}
                        <a class="btn btn-sm btn-primary" href="{% url 'delete_student' student.id %}">Delete</a>
                    {% endif %}
                    {% if perms.student.view_student %}
                        <a class="btn btn-sm btn-primary" href="{% url 'detail_student' student.id %}">Details</a>
                    {% endif %}
                <a class="btn btn-sm btn-success" href="{% url 'generate-pdf-student' student.id %}">Export pdf</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
