<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3> Filtered student </h3>

        <p>{{ details_student.first_name }} || {{ details_student.last_name }} ||
            {{ details_student.age }} || {{ details_student.date_of_birth }} ||
            {{ details_student.description }} || {{ details_student.professor.first_name }} || {{ details_student.professor.last_name }}</p>


</body>
</html>