<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .color {
            color: red;
            font-weight: bold;

        }
        .table {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h3> List of Students </h3>
<table class="table">
    <thead>
    <tr>
        <th class="color">
            First_name
        </th>
        <th>
            Last_name
        </th>
        <th>
            Active
        </th>
        <th>
            Sex
        </th>
        <th>
            Created_at
        </th>
        <th>
            Updated_at
        </th>
        <th>
            Description
        </th>
        <th>
            Professor
        </th>
    </tr>
    </thead>
    <tbody>
    {#    students se ia din metoda generate_pdf ca fiind cheia de la context#}
    {% for student in students %}
        <tr>
            <td> {{ student.first_name }}</td>
            <td> {{ student.last_name }}</td>
            <td> {{ student.active }}</td>
            <td> {{ student.sex }}</td>
            <td> {{ student.created_at }}</td>
            <td> {{ student.updated_at }}</td>
            <td> {{ student.description }}</td>
            <td> {{ student.professor.first_name }} {{ student.professor.last_name }} </td>

        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>