{% extends 'base.html' %}
{% block title %}Update list of Students{% endblock %}

{% block content %}
{#    post trimite date catre baza de date#}
    <form method="post">
{#    Valoarea secreta unica generata de aplicatie de pe server pentru a proteja resursele vulnerabile. #}
{#        Aceste token-uri sunt generate si trimise de aplicatia de pe server host 8000 intr-o cerere ulterioara realizata de client#}
        {% csrf_token %}
{#        form.as_table sau form.as_ul#}
        {{ form.as_p }}
{#        !!!! Butonul se afla tot timpul in interiorul formularului. Altfel butonul nu va face nimic.#}
{#        submit=> pentru a salva#}
{#        button=> are doar functie de buton, se adauga conditia de on-cliq si se creaza pe baza unei functii js#}
{#        reset=> ,...?#}
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
    </form>

{% endblock %}