{% extends 'base.html' %}
{% block title %} All authors{% endblock %}
{% block content %}
    <h1>All authors</h1>
    {% for author in all_authors %}
        {% now 'm' as luna_asta %}
        {% if author.date.month < author.now %}
            <div class="card" style="width: 18rem;">
                <img src="{{ author.image }}" class="card-img-top" alt="{{ author.image }}">
                <div class="card-body">
                    <h2 class="card-title">Older stories</h2>
                    <p class="card-text">
                        {{ author.author_name }}<br/>
                        Year: {{ author.date.year }} / Month: {{ author.date.month }} / Day: {{ author.date.day }}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% else %}
            <div class="card" style="width: 18rem;">
                <img src="{{ author.image }}" class="card-img-top" alt="{{ author.image }}">
                <div class="card-body">
                    <h1 class="card-title">Latest posts</h1>
                    <p class="card-text">
                        {{ author.author_name }}<br/>
                        Year: {{ author.date.year }} / Month: {{ author.date.month }} / Day: {{ author.date.day }}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}