{% extends 'base.html' %}
{% block title %} All students{% endblock %}
{% block content %}
    <h1>All students</h1>
    {#    parcurgem dictionarul all_students#}
    {% for student in all_students %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                {% if student.age >= '18' %}
                    <h5 class="card-title">Major</h5>
                {% else %}
                    <h5 class="card-title">Minor</h5>
                {% endif %}
                <h6 class="card-subtitle mb-2 text-muted">{{ student.first_name }} {{ student.last_name }}</h6>
                <p class="card-text">{{ student.age }}</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        {#        {% if student.age < '18' %}#}
{#            <div class="card" style="width: 18rem;">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">Minor</h5>#}
{#                    <h6 class="card-subtitle mb-2 text-muted">{{ student.first_name }} {{ student.last_name }}</h6>#}
{#                    <p class="card-text">{{ student.age }}</p>#}
{#                    <a href="#" class="card-link">Card link</a>#}
{#                    <a href="#" class="card-link">Another link</a>#}
{#                </div>#}
{#            </div>#}
{#            <p>Minor</p>#}
{#            <p>{{ student.first_name }}#}
{#                {{ student.last_name }}#}
{#                {{ student.age }}</p>#}
{#        {% elif student.age > '18' %}#}
{#            <div class="card" style="width: 18rem;">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">Major</h5>#}
{#                    <h6 class="card-subtitle mb-2 text-muted">{{ student.first_name }} {{ student.last_name }}</h6>#}
{#                    <p class="card-text">{{ student.age }}</p>#}
{#                    <a href="#" class="card-link">Card link</a>#}
{#                    <a href="#" class="card-link">Another link</a>#}
{#                </div>#}
{#            </div>#}
{#            <p>Major</p>#}
{#            <p>{{ student.first_name }}#}
{#                {{ student.last_name }}#}
{#                {{ student.age }}</p>#}
{#        {% endif %}#}
    {% endfor %}

{% endblock %}