{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Please Login first!</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-success">Login</button>
    <a class="btn btn-sm btn-primary" href="{% url 'password_reset' %}">Reset password?</a>

    </form>

{% endblock %}