{% extends 'base.html' %}
{% block title %} Delete products {% endblock %}
{% block content %}
<p> Are you sure you want to delete this product: {{ productList.product_code_no }} ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-success">Yes</button>
        <button type="button" class="btn btn-sm btn-danger" onclick="location.href={% url 'show_product_list' %}">No
        </button>

    </form>

{% endblock %}