{% extends 'base.html' %}
{% block title %}Detail product{% endblock %}
{% block content %}
        <div class="card" style="top: 50px; height: 200px;">
            <div class="card-header" >
                <h3>{{ product_detail.product_code_no }}</h3>
            </div>
            <div class="card-body" >
                <h5 class="card-title">{{ product_detail.product_description }}</h5>
                <p class="card-text">Size: {{ product_detail.product_size }}, Price
                    [EUR]: {{ product_detail.product_price }}</p>
                <a href="{% url 'show_product_list' %}" class="btn btn-success"> Go to Products List</a>
            </div>
        </div>


{% endblock %}