{% extends 'base.html' %}
{% block title %}Product list page{% endblock %}
{% block content %}
    <a class="btn btn-sm btn-primary" href="{% url 'create_product_list' %}">Add product</a>
    <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th>
                Product_code
            </th>
            <th>
                Product_description
            </th>
            <th>
                Produced_by
            </th>
            <th>
                Product_size
            </th>
            <th>
                Product_price
                [EUR]
            </th>
            <th>
                Actions
            </th>

        </tr>
        </thead>
        <tbody>
        {% for product in all_products %}
            <tr>
                <td>
                    {{ product.product_code_no }}
                </td>
                <td>
                    {{ product.product_description }}
                </td>
                <td>
                    {{ product.product_producer }}
                </td>
                <td>
                    {{ product.product_size }}
                </td>
                <td>
                    {{ product.product_price }}
                </td>
                <td>
                    <a class="btn btn-sm btn-warning" href="{% url 'edit_products_in_list' product.id %}">Edit</a>
                    <a class="btn btn-sm btn-primary" href="{% url 'detail_product_list' product.id %}">Details</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'delete_product' product.id %}">Delete</a>

                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
{% endblock %}