{% extends 'base.html' %}
{% block title %} Edit product {% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
    </form>

{% endblock %}