{% extends 'base.html' %}
{% block title %} Delete category {% endblock %}
{% block content %}
<p> Are you sure you want to delete this product: {{ categoryList.application_area }} ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-success">Yes</button>
        <button type="button" class="btn btn-sm btn-danger" onclick="location.href={% url 'create_category_list' %}">No
        </button>

    </form>

{% endblock %}