{% extends 'base.html' %}
{% block title %}Category detail{% endblock %}
{% block content %}
        <div class="card" style="top: 50px; height: 200px;">
            <div class="card-header" >
                <h3>{{ category_detail.product_family }}</h3>
            </div>
            <div class="card-body" >
                <h5 class="card-title">{{ category_detail.application_area }}</h5>
                <p class="card-text">Size: {{ category_detail.performance  }}{{ category_detail.supply_voltage }}</p>
                <a href="{% url 'create_category_list' %}" class="btn btn-success"> Go to Category List</a>
            </div>
        </div>


{% endblock %}