{% extends 'base.html' %}
{% block title %} Category list {% endblock %}
{% block content %}
    <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th>
                Application_area
            </th>
            <th>
                Product_family
            </th>
            <th>
                Performance
            </th>
            <th>
                Supply_voltage
            </th>

            <th>
                Actions
            </th>

        </tr>
        </thead>
        <tbody>
        {% for category in all_categories %}
            <tr>
                <td>
                    {{ category.application_area }}
                </td>
                <td>
                    {{ category.product_family }}
                </td>
                <td>
                    {{ category.performance }}
                </td>
                <td>
                    {{ category.supply_voltage }}
                </td>

                <td>
                    <a class="btn btn-sm btn-warning" href="{% url 'edit_category_in_list' category.id %}">Edit</a>
                    <a class="btn btn-sm btn-primary"
                       href="{% url 'detail_category_list' category.id %}">Details</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'delete_category' category.id %}">Delete</a>

                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    <a class="btn btn-sm btn-success" href="{% url 'show_category_list' %}">Add category</a>



{% endblock %}