<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {#    <title>All students</title>#}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
{% include 'navbar.html' %}

<div class="container">
    <div class="container-fluid">
        {% block content %}

        {% endblock %}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
{#<h1>All students</h1>#}
{#parcurgem dictionarul all_students#}
{#{% for student in all_students %}#}
{#    <p>{{ student.first_name }}#}
{#    {{ student.last_name }}#}
{#    {{ student.age }}</p>#}
{#{% endfor %}#}
</body>
</html>