<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index-home' %}">Django_Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {#    {% if user.is_authenticated is False %}#}
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'index-home' %}#">Home</a>
                </li>
                {% if request.path == '/all-authors/' %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'authors' %}">Authors</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authors' %}">Authors</a>
                    </li>
                {% endif %}

                {% if request.path == '/create-student/' %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'create-student' %}">Create student</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create-student' %}">Create student</a>
                    </li>
                {% endif %}
                {% if request.path == '/create-professor/' %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'create-professor' %}">Create professor</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create-professor' %}">Create professor</a>
                    </li>
                {% endif %}
                {% if request.path == '/create-school/' %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'create-school' %}">Create school</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create-school' %}">Create school</a>
                    </li>
                {% endif %}
                {% if request.path == '/list-of-students/' %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'create-list-of-students' %}">List of students</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create-list-of-students' %}">List of students</a>
                    </li>
                {% endif %}
                </li>
                {% if request.path == '/list-of-professors/' %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'create-list-of-professors' %}">List of professors</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create-list-of-professors' %}">List of professors</a>
                    </li>
                {% endif %}
                {% if request.path == '/product-list-view/' %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'show_product_list' %}">Products list</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'show_product_list' %}">Products list</a>
                    </li>
                {% endif %}
                {% if request.path == '/create-category-list/' %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'create_category_list' %}">Products category</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_category_list' %}">Products category</a>
                    </li>
                {% endif %}
{#            Adaugam un dropdown  list pentru context processor#}
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Student list
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for student in context_students %}
                        <li><a class="dropdown-item" href="{% url 'detail_student' student.id %}">{{ student.first_name }} {{ student.last_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            {#                            Adaugam un drop down list pentru professor #}
                           <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Professors list
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for professor in context_professors %}
                        <li><a class="dropdown-item" href="{% url 'update_professor' professor.id %}">{{ professor.first_name }} {{ professor.last_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </ul>
            <span class="navbar-text">
                {% if user.is_authenticated %}
                    <a class="btn btn-sm btn-primary" href="{% url 'logout' %}">Logout, {{ request.user.username }}</a>
                {% else %}
                    <a class="btn btn-sm btn-secondary" href="{% url 'create_user' %}">Sign up</a>
                    <a class="btn btn-sm btn-success" href="{% url 'login' %}">Login</a>
                    <a class="btn btn-sm btn-success" href="{% url 'login' %}">Test</a>
                     <a class="btn btn-sm btn-success" href="{% url 'login' %}">Test_5</a>
                {% endif %}
                {#            {% endif %}#}
      </span>
        </div>
    </div>
</nav>